<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286832426144-miip1dfr94i1qn061r2tp2u9rq1gon3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286832426144-miip1dfr94i1qn061r2tp2u9rq1gon3l</string>
	<key>API_KEY</key>
	<string>AIzaSyDra09VVvLeQHGSJb6o9DPrwiYF4Mv7krg</string>
	<key>GCM_SENDER_ID</key>
	<string>286832426144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.election</string>
	<key>PROJECT_ID</key>
	<string>election-9557c</string>
	<key>STORAGE_BUCKET</key>
	<string>election-9557c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286832426144:ios:4525937d095d4384a5ddc5</string>
</dict>
</plist>